.contact {
	display: block;
	padding: 10rem 0;
	position: relative;
	height: 100vh;
	overflow-y: scroll;
	background-color: $off-white;

	&-form {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	.fadedIn {
		@include transition(opacity, ease-out, 500ms);
		opacity: 1;
	}

	.fadedOut {
		opacity: 0;
	}

	.check-boxes {
		margin-bottom: 2rem;

		label {
			width: 100%;
			display: inline-block;
			margin-right: 3rem;

			@media(min-width: $mobile){
				width: auto;
			}
		}

		input[type="checkbox"] {
			margin-right: .6rem;
		}

	}

	.message {
		width: 100%;
		max-width: 600px;
		margin: 0 auto;
		padding: 0 2rem;
	}

	h2 {
		@include headline;
		margin-bottom: 1rem;
		text-align: center;

		@media(min-width: $mobile){
			text-align: left;
		}
	}

	p {
		margin-bottom: 3rem;
		text-align: center;

		@media(min-width: $mobile){
			text-align: left;
			margin-bottom: 5rem;
		}
	}

	label {
		display: block;
		width: 100%;
	}

	input[type="text"], textarea {
		height: 5rem;
		display: block;
		width: 100%;
		margin-bottom: 2rem;
		padding-left: 1.6rem;
	}

	textarea {
		min-height: 8rem;
	}

	button {
		@include red-button;
		width: 100%;
		margin: 2rem 0 0;

		@media(min-width: $mobile){
			width: auto;
			margin: 2rem .6rem 0;
		}
	}
}