<h2>Contact Us</h2>
<form
	class="contact-form"
	method="POST"
	ng-submit="submitForm()"
	ng-hide="showSuccess || showFail">
	<!-- Name -->
	<label class="col-md-4 col-sm-12" for="name">Name</label>
	<input ng-model="senderName" class="col-md-8 col-sm-12" type="text" id="name">
	<!-- Company -->
	<label class="col-md-4 col-sm-12" for="company">Company</label>
	<input ng-model="company" class="col-md-8 col-sm-12" type="text" id="company">
	<!-- Email -->
	<label class="col-md-4 col-sm-12" for="email">Email Address</label>
	<input ng-model="email" class="col-md-8 col-sm-12" type="text" id="email" name="_replyto">
	<!-- Phone -->
	<label class="col-md-4 col-sm-12" for="phone">Phone Number</label>
	<input ng-model="phone" class="col-md-8 col-sm-12" type="text" id="phone">
	<!-- Description -->
	<label class="col-md-4 col-sm-12" for="description">Give us a short description of your project.</label>
	<textarea ng-model="message" class="col-md-8 col-sm-12" id="description"></textarea>
	<!-- Gotcha -->
	<input type="hidden" name="_gotcha">
	<!-- Submit -->
	<button class="col-md-4 col-sm-12 col-md-offset-4" type="submit">Submit</button>
</form>

<!-- Success Message -->
<section ng-show="showSuccess" class="message message-success">
	Good Job, you did it.
	<button ng-click="hideMessages()">cool</button>
	<button ui-sref="home">go home</button>
</section>

<!-- Failure Message -->
<section ng-show="showFail" class="message message-fail">
	Message did not send.
	<button ng-click="hideMessages()">cool</button>
	<button ui-sref="home">go home</button>
</section>