.single {
	margin-top: 10rem;
    display: block;

	h2 {
		@include headline;
		color: $white;
		margin-bottom: 2rem;
	}

	h5 {
		@include subhead;
		color: $white;
		margin-bottom: 2rem;
	}

	img {
		margin-bottom: 2rem;
	}

	p {
		@include copy;
		color: $white;
		margin-bottom: 2rem;
	}

	a {
		@include textlink;
		color: $light-grey;

		&:hover {
			color: $white;
		}
	}

	&__pagination {
		@include textlink;
		display: flex;
		width: 100%;
		margin: 4rem 0;
		justify-content: center;

		a {
			flex: 0 0 auto;
		}

		span {
			@include textlink;
			color: $light-grey;
			flex: 0 0 auto;
			margin: 0 2rem;
		}
	}
}