<section>
	<h2> {{ project.title }} </h2>
	<figure ng-repeat="image in project.images">
		<img src="{{ image }}" alt="">
	</figure>
	<h5 ng-if="project.subtitle"> {{ project.subtitle }} </h5>
	<p ng-if="project.description"> {{ project.description }} </p>
	<a ng-if="project.externalURL" class="single__external" href="{{ project.externalURL }}">See It Live</a>
	<aside class="single__pagination">
		<a ui-sref="single({ project: project.previous })"> < Previous </a>
		<span>|</span>
		<a ui-sref="single({ project: project.next })"> Next > </a>
	</aside>
</section>