.card {
	height: 50vh;
	display: block;
	cursor: pointer;
	transition: background-color .5s;

	&:not(:last-child) {
		margin-bottom: 15px;
	}
	&:hover {
		background-color: #793217;
		color: white;
		div:nth-of-type(2) {
			border-bottom: 5px solid white;	
		}
	}
	div:first-child {
		padding-top: 20%;
		i {
			font-size: 40px;
		}
		h2 {

		}
	}
	div:nth-of-type(2) {
		border-bottom: 5px solid #793217;
		transition: border .5s;
	}
}