$nav-block: calc(100vh/4);

.navigation {
	flex: 0 0 $nav-block;
}

#dashboard {

	> li {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $purple;
		width: 100%;
		height: $nav-block;
		margin: 5px;

		&:hover {
			cursor: pointer;
			background-color: $white;
			border: 1px solid $red;
			color: $red;
		}
	}
}


#about-message {
	color: $white;
	position: absolute;
	animation-duration: 3s;
}