$nav-block: calc(100vh/4);

.dashboard {
	width: $nav-block;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 $nav-block;

	li {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 5px;

		&:hover {
			cursor: crosshair;
			border: 1px solid HSLA(358,73%,47%, .4);
			color: $red;
			transition: color 1.4s,
						border 3s;
			transition-timing-function: ease linear;
		}
	}
}
