$nav-block: calc(100vh/4);

.dashboard {
	width: $nav-block;
	height: 100vh;
	display: flex;
	flex-flow: column nowrap;
	flex: 0 0 $nav-block;

	li {
		flex: 1 1 auto;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin-top: 5px;

		&:hover {
			color:HSL(6,100%,41%);
			transition: color .7s,
						font-size .7s;
			transition-timing-function: ease linear;
		}
	}
}
