.hero {
	position: relative;
	max-width: 20rem;
	margin: 0 auto;
}

#hero-logo {
	width: 100%;
}

#inc {
  width: 10%;
  float: right;
  position: absolute;
  right: -53px;
  bottom: 4px;
  animation-duration: 3s;
  animation-delay: 2s;
}