.hero {
	position: relative;
	max-width: 20rem;
	margin: 0 auto;
}

#hero-logo {
	width: 100%;
}

#inc {
  width: 20%;
  height: auto;
  float: right;
  position: absolute;
  right: -57px;
  bottom: 15px;
  animation-duration: 3s;
  animation-delay: 2s;
}
