$item-width: calc(((100vw - (100vh/4))/3) - 5px);

.portfolio {
	height: 100vh;
	overflow: scroll;
}

.portfolio-items {
	width: $item-width;
	height: $item-width;
	margin: 5px 0 0 5px;
	float: left;
}