@import 'variables';
@import 'hero';
@import 'dashboard';
@import 'portfolio';
@import 'container';

body {
	background-color: $black;
	font-family: "Lato";
	font-weight: 300;
	font-size: 16px;
	color: $white;
	height: 100vh;
	overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

.wrapper {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: $white;
}

ul, li {
	list-style-type: none;
	border: none;
	margin: 0;
	padding: 0;
}
#inc {
  width: 10%;
  float: right;
  position: absolute;
  right: -53px;
  bottom: 4px;
  animation-duration: 3s;
  animation-delay: 2s;
}
#hero-logo {
	padding-top: 120px;
}