.slider {
	margin: 0;
	padding-right: 0;
	padding-left: 0;
	background: grey;
	height: 100vh;
}

.slides {
	height: 100vh;
	margin-bottom: 0;

	&-bg {
		height: 100vh;
		width: 100%;
		background-size: cover;
		background-position: center;
		text-align: center;
		overflow: auto;
	}

	&-content {
		@include center;
		width: 100%;
		padding: 0 8rem;
	}

	h2 {
		@include headline;
		color: $white;
	}

	h5 {
		@include subhead;
		color: $white;
		margin-top: 3rem;
	}

	p {
		@include copy;
		color: $white;
	    margin: 3rem 0 2rem;
	}

	a {
		@include textlink;
		color: $light-grey;

		&:hover {
			color: $white;
		}
	}
}

.slide-nav {
	@include vertical-center;
	left: 2rem;
	color: $white;

	@media(max-width: 767px){
		position: fixed;
	};

	li {
		height: 1rem;
		width: 1rem;
		border-radius: 50%;
		border: 1px solid $white;
		margin-bottom: 1rem;

		&:hover {
			height: 1.2rem;
			width: 1.2rem;
		}

		&.active {
			background-color: $white;
		}
	}
}