.navigation {
	margin: 0;
	padding: 0;
	position: absolute;
	right: -100vw;
	top: 0;
	z-index: 99;
	@include transition(right, ease-out, 200ms);

	#homepage & {
		@include offScreenNav;
	}

	#portfolio & {
		@include offScreenNav(false);
	}

	&.open {
		@include transition(right, ease-out, 200ms);
		right: 0;
	}

	.close-nav {
		position: absolute;
		top: 1rem;
		left: 1rem;
		z-index: 100;
		color: white;
	}

	li {
		display: block;
		overflow: auto;
		height: calc(100vh/3);
		margin: 0;
		padding: 0;
	}
}