// Vertical and horizontal center.
// Requires relatively-positioned parent character
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Center vertically
// Requires relatively-positioned parent character
@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// CSS transitions with browser prefixes
@mixin transition($property, $easing, $time) {
	-webkit-transition: $property $easing $time;
	-moz-transition: $property $easing $time;
	-o-transition: $property $easing $time;
	transition: $property $easing $time;
}