// Vertical and horizontal center.
// Requires relatively-positioned parent character
@mixin center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

// Center vertically
// Requires relatively-positioned parent character
@mixin vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

// CSS transitions with browser prefixes
@mixin transition($property, $easing, $time) {
	-webkit-transition: $property $easing $time;
	-moz-transition: $property $easing $time;
	-o-transition: $property $easing $time;
	transition: $property $easing $time;
}

// Choose between full nav or offscreen
// Defaults to hidden offScreen
@mixin offScreenNav($hidden: true) {
	@if $hidden {
		width: 80%;
		@media(min-width: 768px){
			width: 40%;
		}
	} @else {
		@media(max-width: 767px){
			width: 80%;
		}
		@media(min-width: 768px){
			position: relative;
			right: 0;

			.close-nav {
				display: none;
			}
		}
	}
}

// Font Style Mixins
@mixin headline {
	font-family: $cooper;
	font-size: 8rem;
	letter-spacing: .5rem;
	text-transform: uppercase;
}

@mixin subhead {
	font-family: $nixie;
	font-size: 3rem;
    line-height: 3.8rem;
	letter-spacing: .1rem;
}

@mixin subhead-alt {
	font-family: Georgia;
	font-style: italic;
	font-size: 2.8rem;
	line-height: 3.6rem;
	letter-spacing: .1rem;
}

@mixin copy {
	font-family: $work-sans;
	font-size: 1.5rem;
    letter-spacing: 0.1rem;
	line-height: 2.4rem;
}