@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'colors';
@import 'components/header/header';
@import 'components/navigation/navigation';
@import 'components/slider/slider';
@import 'components/bright-box/bright-box';
@import 'components/card/card';
@import 'components/contact-form/contact';
@import	'portfolio';

/* ----- Global ----- */

html {
	background-color: black;
}

* {
	@include copy;
	-webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	background-color: none;
}

img {
	max-width: 100%;
}

.wrapper {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}