@import 'variables';
@import 'components/slider/slider';
@import 'components/bright-box/bright-box';
@import 'logo';
@import 'navigation';

/* ----- Global ----- */

ul,
li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
}