.bright-box {
	height: 100%;
	width: 100%;
	padding: 0;
	background-size: cover;
	background-position: center;
	position: relative;

	h3 {
		padding: 10px;
		color: white;
		position: absolute;
		top: 40%;
		display: block;
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}